* {
    color: blue;
}

header {
    top: 0;
    width: 100%;
    border-bottom: 10px solid black;
    background-color: darkcyan;
}

.art{
    background-color: pink;
    border: inset 10px;
    border-color: antiquewhite;
}

#center{
    display: block;
     width: 50%;
    /* object-fit: cover; */
    /* position: absolute; */
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;
    
    /* border: 20px cornflowerblue; */
    /* padding: 20px green; */
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box{
    text-align: center;
}