header {
    top: 0;
    width: 100%;
    border-bottom: 10px solid black;
    background-color: darkcyan;
}

#center{
    display: block;
     width: 50%;
    /* object-fit: cover; */
    /* position: absolute; */
    margin-top: 30px;
    margin-left: auto;
    margin-right:auto;
    border-color:aquamarine;
    border: 20px;
    
    /* border: 20px cornflowerblue; */
    /* padding: 20px green; */
}